.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signup {
  margin: auto;
  margin-top: 150px;
  width: 25%;
  padding: 10px;
}

.signup-title {
  margin-bottom: 50px;
}

.signup-buttons {
  padding: 25px;
}

.login {
  margin: auto;
  margin-top: 150px;
  width: 25%;
  padding: 10px;
}

.login-title {
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollable {
  height: 600px;
  overflow:auto;
}

.row-no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.input-spacer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.message {
  /* border-color: black;
  border-bottom-style: solid;
  border-width: 1px; */
  margin-top: 15px;
  /* margin-bottom: 15px; */
}
